body {
  font-family: 'Helvetica Neue', Verdana, Helvetica, Arial, sans-serif;
  margin: 0 4em;
  padding-top: 1em;
  -webkit-font-smoothing: antialiased;
  color: #333;
}

h1, h2, h3 {
  color: #333;

}

h1 {
    font-size: 1.1em;
}

h2 {
    font-size: 1.3em;
    text-decoration: underline;
    font-weight: normal;
    padding: 0.1em;
    margin: 0.1em;
}

a {
  text-decoration: none;
  color: #09f;
}

a:hover {
  text-decoration: underline;
}

.delete-button {
    font-family: sans-serif;
    color: hsla(0, 47%, 82%, 1);
    background: white;
    float: right;
    border-style: none;
}

.delete-button:hover {
    color: red;
}

.aspect-list-view {
    border-style: none;
    border-radius: 3px;
    padding: 0.3em 1em;
    margin: 0em 0.5em;
    float: left;
    width: 16em;
    min-height: 10em;
    box-shadow: 1px 2px 5px #666;
    font-size: 0.85em;
}


li {
    list-style-type: square;
    padding: 0.4em 0em;
}

ul {
    padding: 0em 0.8em;
    margin: 0;
}
